<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(category) -%>">
  <span class='name'>
    <%= category.name %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"),
                refinery.edit_jobs_admin_category_path(category, :dialog => true, :height => 325),
                :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.jobs_admin_category_path(category),
                :class => "cancel confirm-delete",
                :title => t('.delete'),
                :method => :delete,
                :data => {
                  :confirm => t('message', :scope => 'refinery.admin.delete', :title => category.name)
                } %>
  </span>
</li>
